<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014-2021 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         metadata-complete="false">
  <display-name>peppol-practical</display-name>
  <description>peppol.helger.com</description>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  
  <!-- The welcome file is only required for the initial redirect -->
  <welcome-file-list>
    <welcome-file>public</welcome-file>
  </welcome-file-list>
  
  <!-- In case of page not found - goto error page
       This is relative to the web application context.
   -->
   <!-- 
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
   -->
  
  <!-- Application specific stuff -->  

  <listener>
    <listener-class>com.helger.peppol.servlet.AppWebAppListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>SecureLoginFilter</filter-name>
    <filter-class>com.helger.peppol.servlet.SecureLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecureLoginFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <servlet-class>com.helger.peppol.servlet.SecureApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <servlet-class>com.helger.peppol.servlet.PublicApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AppRootServlet</servlet-name>
    <servlet-class>com.helger.peppol.servlet.AppRootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppRootServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <!-- Web Service stuff -->
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>WSServlet</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSServlet</servlet-name>
    <url-pattern>/wsdvs</url-pattern>
  </servlet-mapping>
</web-app>
